version: '3.8'

services:
  web:
    build: .
    ports:
      - "5000:5000"
    environment:
      - FLASK_APP=run.py
      - FLASK_ENV=development
      - DATABASE_URL=sqlite:////app/instance/talatrivia_docker.db
      - JWT_SECRET_KEY=super-secret-key-change-me
    volumes:
      - .:/app